.main{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}
.navbar{
    background-color: rgb(159, 47, 240);
}
.boot{
    width: 50px;
    position:fixed; 
    left:20px; 
    top:10px;
}
ul{
    margin-left: 68%;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    
}
a:hover{
    background-color: #006400fd;
    border-radius: 5px;
}
ul li{
    color: white;
    margin-bottom: 1.5%;
}


.Boot-text{
    font-size: 25px;
    font-weight: 600;
    position: fixed;
    left: 74px;
    top: 17px;
}
img{
    width: 80%;
}
.head1{
    font-size: 45px;
    font-family: 'cambria';
    margin: 20% 0 1px 0;
    width: 600px;
    margin-left: 43px;
}
.text{
    font-size: 30px;
    font-family: 'cambria';
    opacity: 0.5;
    margin: 1%;
}

.btn{
    margin-left: 9%;
    font-size: 20px;
    margin-top: 5%;
}

.top{
    margin-top: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}